/* from https://github.com/quarto-dev/quarto-cli/discussions/1386 */
/* file: style.css */
  .v-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }